<div>
    <!-- [page]="currentPage()" paginationInfo="{0} to {1} of {2}" [noDataContent]="'No Data Found'"
                (changeServer)="onServerChange($event)"
                [isServerMode]="true"
                 -->
    <div class="panel mt-6 pb-0">
        <!-- Reactive form for search and filter -->
        <form [formGroup]="searchForm" (ngSubmit)="onSearchSubmit()" class="flex items-center p-2 flex-col sm:flex-row">
            <!-- searchText: main search input -->
            <input type="search" class="form-input border-black" [placeholder]="'table.Search' | translate"
                formControlName="searchText" />
            <button type="submit" class="btn btn-primary ltr:ml-2 rtl:mr-2 cursor-pointer hover:opacity-80">{{
                "table.Search" | translate}}</button>

        </form>
        <div class="flex gap-4 items-center mb-8 mt-4 ms-5">
            <button type="button" (click)="openAddForm(modal21)"
                class="btn btn-primary cursor-pointer !border-none hover:opacity-80">
                {{ "Add Question" | translate}}
            </button>
            <!-- Modal -->
            <ngx-custom-modal #modal21 customClass="modal-top auth-modal extra-large-modal">
                <ng-template #modalHeader>
                    <div class="!py-5">
                        <h3 class="text-2xl font-extrabold text-[#2d3f69] ltr:text-left rtl:text-right">
                            {{ "Add Question" | translate}}</h3>
                    </div>
                </ng-template>
                <ng-template #modalBody>
                    <form (ngSubmit)="onAdd(modal21);" [formGroup]='singleRowForm'>
                        <div class="relative mb-4">
                            <label for="ID" class="hidden">questionId</label>
                            <textarea id="ID" type="text" class="form-input hidden" formControlName="ID"></textarea>
                        </div>
                        <div class="relative mb-4">
                            <label for="Question" class="font-extrabold text-[#2d3f69] rtl:text-right ltr:text-left">{{
                                "table2.Question" | translate}}</label>
                            <textarea id="Question" type="text" rows="5" placeholder="Question" class="form-input"
                                formControlName="Question"></textarea>
                        </div>
                        <div class="relative mb-4">
                            <label for="AnswerEN" class="font-extrabold text-[#2d3f69] rtl:text-right ltr:text-left">{{
                                "Answer" | translate}}</label>
                            <textarea id="AnswerEN" type="text" rows="6" placeholder="Answer"
                                class="form-input [direction:ltr]" formControlName="AnswerEN"></textarea>
                        </div>
                        <div class="relative mb-4">
                            <label for="AnswerAR" class="font-extrabold text-[#2d3f69] rtl:text-right ltr:text-left">{{
                                "Notes" | translate}}</label>
                            <textarea id="AnswerAR" type="text" placeholder="Notes" class="form-input"
                                formControlName="AnswerAR"></textarea>
                        </div>
                        <div class="flex items-center justify-end">
                            <button class="btn btn-primary mx-3 hover:opacity-80 cursor-pointer">{{
                                "Save" | translate}}</button>
                            <button type="button" (click)="modal21.close()"
                                class="btn btn-outline-secondary cursor-pointer">{{ "Cancel" |
                                translate}}</button>
                        </div>
                    </form>
                </ng-template>
            </ngx-custom-modal>
        </div>
        <!-- 
            Input names:
            - searchText: main search input
            - searchBy: select field for search type (question, answer, notes)
        -->
        <div class="datatable">
            <ng-datatable [rows]="rows()" [columns]="cols" skin="whitespace-wrap table-hover" [totalRows]="totalRows()"
                [stickyHeader]="true" [loading]="loading ? true : false" [page]="currentPage()"
                (pageChange)="onPageChange($event)" firstArrow='
      <span role="button" aria-label="First Page" tabindex="0" title="First Page">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180">
          <path d="M13 19L7 12L13 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path opacity="0.5" d="M16.9998 19L10.9998 12L16.9998 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </span>' lastArrow='
      <span role="button" aria-label="Last Page" tabindex="0" title="Last Page">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180">
          <path d="M11 19L17 12L11 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path opacity="0.5" d="M6.99976 19L12.9998 12L6.99976 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </span>' previousArrow='
      <span role="button" aria-label="Previous Page" tabindex="0" title="Previous Page">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180">
          <path d="M15 5L9 12L15 19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </span>' nextArrow='
      <span role="button" aria-label="Next Page" tabindex="0" title="Next Page">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180">
          <path d="M9 5L15 12L9 19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </span>'>

                <ng-template slot="action" let-value="data">
                    <div class="flex items-center justify-end">
                        <!-- login -->
                        <div>
                            <!-- Trigger -->
                            <button type="button" class="ltr:mr-2 rtl:ml-2 cursor-pointer" ngxTippy="Edit"
                                (click)="editRow(value); modal20.open()" aria-label="Edit Row">
                                <icon-pencil />
                            </button>

                            <!-- Modal -->
                            <ngx-custom-modal #modal20 customClass="modal-top auth-modal extra-large-modal">
                                <ng-template #modalHeader>
                                    <div class="!py-5">
                                        <h3 class="text-2xl font-extrabold text-[#2d3f69] ltr:text-left rtl:text-right">
                                            {{ "Edit Question" | translate}}</h3>
                                    </div>
                                </ng-template>
                                <ng-template #modalBody>
                                    <form (ngSubmit)="onEdit(modal20);" [formGroup]='singleRowForm'>
                                        <div class="relative mb-4">
                                            <label for="ID" class="hidden">questionId</label>
                                            <textarea id="ID" type="text" class="form-input hidden"
                                                formControlName="ID"></textarea>
                                        </div>
                                        <div class="relative mb-4">
                                            <label for="Question"
                                                class="font-extrabold text-[#2d3f69] rtl:text-right ltr:text-left">{{
                                                "table2.Question" | translate}}</label>
                                            <textarea id="Question" type="text" rows="5" placeholder="Question"
                                                class="form-input" formControlName="Question"></textarea>
                                        </div>
                                        <div class="relative mb-4">
                                            <label for="AnswerEN"
                                                class="font-extrabold text-[#2d3f69] rtl:text-right ltr:text-left">{{
                                                "Answer" | translate}}</label>
                                            <textarea id="AnswerEN" type="text" rows="6" placeholder="Answer"
                                                class="form-input [direction:ltr]"
                                                formControlName="AnswerEN"></textarea>
                                        </div>
                                        <div class="relative mb-4">
                                            <label for="AnswerAR"
                                                class="font-extrabold text-[#2d3f69] rtl:text-right ltr:text-left">{{
                                                "Notes" | translate}}</label>
                                            <textarea id="AnswerAR" type="text" placeholder="Notes" class="form-input"
                                                formControlName="AnswerAR"></textarea>
                                        </div>
                                        <div class="flex items-center justify-end">
                                            <button class="btn btn-primary mx-3 hover:opacity-80 cursor-pointer">{{
                                                "Save" | translate}}</button>
                                            <button type="button" (click)="modal20.close()"
                                                class="btn btn-outline-secondary cursor-pointer">{{ "Cancel" |
                                                translate}}</button>
                                        </div>
                                    </form>
                                </ng-template>
                            </ngx-custom-modal>
                        </div>
                    </div>
                </ng-template>
            </ng-datatable>
        </div>
    </div>
    <!-- <div>
        <button type="button" class="ltr:mr-2 rtl:ml-2" ngxTippy="Edit"
            (click)="modal20.open()">
            <icon-pencil />
        </button>
    </div> -->
    <!-- Modal -->
    <!--   <ngx-custom-modal #modal20 customClass="modal-top auth-modal extra-large-modal">
        <ng-template #modalHeader>
            <div class="!py-5">Edit Question</div>
        </ng-template>
        <ng-template #modalBody>
            <form (ngSubmit)="onSubmit()" [formGroup]='singleRowForm'>
                <div class="relative mb-4">
                    <label for="questionId"></label>
                    <textarea id="questionId" type="text" class="form-input"
                        formControlName="questionId"></textarea>
                </div>
                <div class="relative mb-4">
                    <textarea id="question" type="text" placeholder="Question"
                        class="form-input"
                        formControlName="question"></textarea>
                </div>
                <div class="relative mb-4">
                    <textarea id="answer" type="text" placeholder="Answer"
                        class="form-input"
                        formControlName="answer"></textarea>
                </div>
                <div class="relative mb-4">
                    <textarea id="notes" type="text" placeholder="Notes"
                        class="form-input"
                        formControlName="notes"></textarea>
                </div>
                <ng-template #modalFooter>
                    <button class="btn btn-primary mx-3">Save</button>
                    <button type="button" (click)="modal20.close()"
                        class="btn btn-outline-danger">Cancel</button>
                </ng-template>
            </form>
        </ng-template>
    </ngx-custom-modal> -->
</div>